.about-academy-life {
  width: 100%;
}

.about-academy-life h1 {
  font-family: "Kumbh Sans", fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-left: 10%;
  padding-top: 15rem;
  padding-bottom: 7.5rem;
}

.about-academy-life-hero {
  width: 100%;
  height: 34rem;
}

.about-academy-life-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.about-true-education {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #c7cddb;
}

.true-education-wrapper {
  width: 100%;
  /* height: 100%; */
  background: var(--bg-yellow);
}

.true-education-wrapper h1 {
  font-family: "Kumbh Sans", fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-left: 10%;
  padding-bottom: 5.5rem;
  padding-top: 15.3rem;
}

.true-education-wrapper > p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 139.88%;
  color: var(--primary-color);
  padding-left: 10%;
  width: 80%;
}

.about-true-education-grid {
  display: flex;
  width: 80%;
  margin: auto;
}

.about-true-education-grid p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  padding-top: 2rem;
  width: 70%;
}

.about-true-education-grid p:not(:last-child) {
  margin-right: 8rem;
}

.true-education-wrapper h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
  padding-left: 10%;
}

.true-education-wrapper h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  padding-left: 10%;
  padding-bottom: 53.3rem;
}

.true-education-photos {
  display: flex;
}

.true-education-photos-left {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.true-education-photos-left1 {
  margin-top: -40%;
  height: 100%;
}
.true-education-photos-left2 {
  margin-top: -25%;
  height: 100%;
}

.true-education-photos-left1 img,
.true-education-photos-left2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.true-education-photos-right1 img,
.true-education-photos-right2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.true-education-photos-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.true-education-photos-right1 {
  margin-top: -40%;
  height: 100%;
}
.true-education-photos-right2 {
  margin-top: -25%;
  height: 100%;
}

/* .true-education-photos-right img {
  width: 100%;
  height: auto;
} */

.true-education-grid-2 {
  width: 100%;
  height: 100%;
  display: flex;

  background: #ffffff;
  padding-top: 15.3rem;
}

.true-education-grid-2-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.true-education-grid-2-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.true-education-grid-2-left p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  padding-left: 10%;
  width: 80%;
  padding-bottom: 1rem;
}

.about-true-education h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
  align-self: flex-start;
  padding-left: 10%;
}
.about-true-education h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  align-self: flex-start;
  padding-left: 10%;
  padding-bottom: 35rem;
}

.true-education-grid-2-right p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 70%;
  padding-bottom: 2rem;
}

.about-daily-life {
  width: 100%;
  height: 100%;

  background: #ffffff;
}

.about-daily-life-top-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.about-daily-life-top-wrapper h1 {
  font-family: "Kumbh Sans", fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 15.3rem;
  padding-bottom: 7.2rem;
}

.daily-life-images {
  display: flex;
  width: 100%;
}

.daily-life-images-left,
.daily-life-images-right {
  width: 100%;
}

.daily-life-images img {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
}

.daily-life-top-para {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  padding-bottom: 2.7rem;
}

.daily-life-bottom-para {
  width: 100%;
  height: 100%;
  display: flex;
}

.daily-life-bottom-para p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 72%;
  padding-right: 3rem;
}

.about-daily-life-middle-wrapper {
  width: 100%;
  margin-top: 10%;
  background: var(--bg-secondary);
}

.daily-life-middle-top-para p {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 11.4rem;
  width: 83%;
}

.daily-life-middle-bottom-para p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.35rem;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 2rem;
  padding-bottom: 2.7rem;
  width: 83%;
}
.daily-life-middle-bottom-para h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: #ffffff;
  padding-left: 10%;
}

.daily-life-middle-bottom-para h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #ffffff;
  padding-left: 10%;
  padding-bottom: 11.5rem;
}

.about-daily-life-bottom-wrapper {
  width: 100%;
  background: #ffffff;

  border-bottom: 1px solid #c7cddb;
}

.daily-life-bottom-container {
  width: 80%;
  margin: 0 auto;
}

.daily-life-bottom-container img {
  width: 100%;
  height: auto;
  padding-top: 15.9rem;
}

.daily-life-bottom-container-para-top p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  padding-bottom: 2.7rem;
  width: 65%;
}
.daily-life-bottom-container-para-bottom p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 65%;
  padding-bottom: 2.1rem;
}

.daily-life-bottom-container h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
}

.daily-life-bottom-container h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 26rem;
}

.beyond-classroom {
  width: 100%;
  background: #ffffff;
}

.beyond-classroom-wrapper-top {
  width: 80%;
  margin: 0 auto;
}

.beyond-classroom-wrapper-top h1 {
  font-family: "Kumbh Sans", fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  padding-top: 15.3rem;
  padding-bottom: 3.6rem;
  color: var(--primary-color);
}

.beyond-classroom-wrapper-top > p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 139.88%;
  color: var(--primary-color);
  padding-bottom: 2.1rem;
  width: 80%;
}

.beyond-classroom-wrapper-top-paras {
  width: 100%;
  display: flex;
}

.beyond-classroom-left {
  flex: 1 1 50%;
}

.beyond-classroom-left p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 85%;
  padding-bottom: 2rem;
}
.beyond-classroom-wrapper-top-paras-images {
  display: flex;
}

.beyond-classroom-wrapper-top-paras-images1 > img {
  width: 100%;
  height: auto;
}

.beyond-classroom-wrapper-top-paras-images2 > img {
  width: 100%;
  height: auto;
}

.classroom-quote-icons {
  display: flex;
}

.beyond-classroom-quote .classroom-quote-icons img {
  max-width: 100%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 3.6rem;
}

.beyond-classroom-quote p {
  font-style: normal;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 139.88%;
  color: var(--primary-color);
  width: 65%;
  padding-bottom: 3rem;
}

.beyond-classroom-quote h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color);
}
.beyond-classroom-quote {
  flex: 1 1 50%;
}

.beyond-classroom-right {
  flex: 1 1 50%;
}

.beyond-classroom-right-para {
  flex: 1 1 50%;
}

.beyond-classroom-right-para > p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 139.88%;
  color: var(--primary-color);
  padding-bottom: 2.1rem;
  width: 95%;
}

.beyond-classroom-right-para p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 90%;
  padding-bottom: 2rem;
}

.beyond-classroom-right p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  width: 90%;
  padding-bottom: 2rem;
}

.beyond-classroom-right h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
}

.beyond-classroom-right h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 2.5em;
}
.beyond-classroom-wrapper-top-paras-bottom {
  display: flex;
}

.beyond-classroom-right-para h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
}

.beyond-classroom-right-para h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 2.5em;
}

.beyond-classroom-wrapper-bottom {
  width: 100%;
  height: 100%;
  background: #ffffff;
  margin-top: 20rem;
}

.beyond-classroom-bottom-container1 {
  display: flex;
}

.beyond-bottom-left1 {
  flex: 1 1 50%;
}
.beyond-bottom-right1 {
  flex: 1 1 50%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beyond-bottom-left1 img {
  width: 100%;
  height: auto;
}

.beyond-bottom-right1 > p:first-child {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  padding-bottom: 2rem;
  width: 75%;
}

.beyond-bottom-right1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.644rem;
  color: var(--primary-color);
  padding-bottom: 2rem;
  width: 75%;
}

.beyond-bottom-right1 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
}

.beyond-bottom-right1 h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.beyond-classroom-bottom-container2 {
  display: flex;
  align-items: center;
}

.beyond-bottom-right-2 {
  flex: 1 1 50%;
}

.beyond-bottom-left-2 {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10% auto;
  margin-left: 10%;
}

.classroom-quote-icons {
  display: flex;

  flex: 1 1 50%;
}

.classroom-quote-icons img {
  max-width: 100%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 4.9rem;
}

.beyond-classroom-quote-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.beyond-classroom-quote-2 p {
  font-style: normal;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 139.88%;
  color: var(--primary-color);
  width: 80%;
  padding-bottom: 3.5rem;
}

.beyond-classroom-quote-2 h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.beyond-bottom-right-2 img {
  width: 100%;
  height: auto;
}

.about-heal {
  width: 100%;
}

.about-heal-wrapper-top {
  width: 100%;

  background: var(--bg-yellow);
}

.about-heal-top {
  margin: 0 auto;
  width: 80%;
}

.about-heal-top h1 {
  font-family: "Kumbh Sans", fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 16.9rem;
  padding-bottom: 3rem;
}

.about-heal-top p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 139.88%;
  color: var(--primary-color);
  padding-bottom: 1.7rem;
  width: 87%;
}

.about-heal-para {
  display: flex;
}

.about-heal-para p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #021032;
  padding-bottom: 10.4rem;
  margin-right: 3rem;
}

.about-heal-wrapper-bottom {
  width: 100%;
  background: var(--bg-secondary);
}

.about-heal-bottom-images {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 11.9rem;
  padding-bottom: 8rem;
}

.about-heal-bottom-images img {
  width: 100%;
  height: 100%;
  margin-right: 1rem;
}

.about-heal-bottom-images1 {
  margin-right: 3rem;
}

.about-heal-bottom-paras {
  width: 80%;
  margin: 0 auto;
}

.about-heal-bottom-paras > p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: #ffffff;
  width: 85%;
}

.about-heal-bottom-paras-last {
  display: flex;
}

.about-heal-bottom-paras-last p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #ffffff;
  padding-bottom: 12rem;
  padding-top: 2rem;
  margin-right: 3rem;
}

.about-kindness {
  width: 100%;
  background: #ffffff;
}

.about-kindness-wrapper-top {
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #c7cddb;
}

.about-kindness-wrapper-top img {
  max-width: 100%;
  height: auto;
}

.about-kindness-top-left {
  flex: 1 0 30%;
}

.about-kindness-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 50%;
  margin-left: 30%;
}

.kindness-quote-icon img {
  margin-right: 2rem;
  margin-bottom: 3.3rem;
}

.about-kindness-top-left-top {
  display: flex;
  align-items: flex-end;
}

.about-kindness-top-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-kindness-top-left-bottom {
  display: flex;
  align-items: flex-start;
}

.kindness-quote > p:first-child {
  font-style: normal;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 139.88%;
  color: var(--primary-color);
  width: 70%;
  padding-bottom: 2rem;
}

.kindness-quote p {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.79rem;
  color: var(--primary-color);
  width: 70%;
  padding-bottom: 2rem;
}

.kindness-quote h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-top: 4rem;
}

.about-kindness-wrapper-bottom {
  padding-top: 20rem;
  width: 80%;
  margin: 0 auto;
}

.about-kindness-wrapper-bottom-img {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-kindness-wrapper-bottom-img img {
  max-width: 100%;
  height: auto;
}

.about-kindness-wrapper-bottom-paras > p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  padding-bottom: 2rem;
  width: 85%;
}

.about-kindness-wrapper-bottom-paras p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.35rem;
  color: var(--primary-color);
  width: 85%;
}

.about-kindness-wrapper-bottom-paras h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
  padding-top: 2rem;
}
.about-kindness-wrapper-bottom-paras h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 21.9rem;
}

.about-last-section {
  width: 100%;
  background: var(--bg-yellow);
}

.about-last-section-wrapper {
  width: 80%;
  margin: 0 auto;
}

.about-last-section-wrapper > p:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4.1rem;
  color: var(--primary-color);
  padding-top: 12.9rem;
  padding-bottom: 5rem;
  width: 85%;
}

.about-last-section-wrapper p {
  font-style: normal;
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 3.8rem;
  color: var(--primary-color);
  padding-bottom: 3.6rem;
  width: 90%;
}

.about-last-section-wrapper h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
}
.about-last-section-wrapper h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding-bottom: 12.8rem;
}

@media screen and (max-width: 1200px) {
  .about-academy-life h1 {
    font-size: 8rem;
  }
  .true-education-wrapper h1 {
    font-size: 8rem;
  }

  .about-daily-life-top-wrapper h1 {
    font-size: 8rem;
  }
  .beyond-classroom-wrapper-top h1 {
    font-size: 8rem;
  }
  .about-heal-top h1 {
    font-size: 8rem;
  }
  .beyond-classroom-quote-2 p {
    font-size: 2.1rem;
    line-height: 134%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 920px) {
  .true-education-grid-2-left p {
    width: 90%;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .true-education-grid-2-right p {
    width: 90%;
    /* font-size: 1.8rem;
    line-height: 2.6rem; */
  }

  .about-daily-life-top-wrapper h1 {
    padding-top: 7.3rem;
    padding-bottom: 5.2rem;
  }
  .beyond-bottom-left-2 {
    margin-left: 5%;
    margin-top: 5%;
  }
  .beyond-classroom-quote-2 p {
    font-size: 1.9rem;
    line-height: 131%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .about-academy-life h1 {
    font-size: 6rem;
  }
  .true-education-wrapper h1 {
    font-size: 6rem;
    padding-bottom: 3.5rem;
    padding-top: 7.3rem;
  }

  .about-daily-life-top-wrapper h1 {
    font-size: 6rem;
  }

  .beyond-classroom-wrapper-top h1 {
    font-size: 6rem;
    padding-top: 5rem;
  }
  .about-heal-top h1 {
    font-size: 6rem;
    padding-top: 6.9rem;
    padding-bottom: 2rem;
  }

  .true-education-wrapper > p {
    width: 90%;
  }
  .about-true-education-grid {
    flex-direction: column;
  }
  .true-education-grid-2-left,
  .true-education-grid-2-right {
    width: 100%;
  }

  .about-true-education-grid p {
    width: 85%;
    padding-bottom: 1.8rem;
  }
  .true-education-grid-2 {
    flex-direction: column;
  }

  .true-education-grid-2-left p {
    padding-left: 0;
  }
  .daily-life-images {
    flex-direction: column;
  }

  .daily-life-bottom-para {
    flex-direction: column;
  }
  .daily-life-bottom-container-para-top p {
    width: 85%;
  }

  .daily-life-bottom-container-para-bottom p {
    width: 85%;
  }

  .beyond-classroom-wrapper-top > p {
    width: 90%;
    font-size: 1.8rem;
  }

  .daily-life-bottom-para p {
    width: 90%;
    padding-bottom: 2rem;
  }

  .daily-life-bottom-container h4 {
    padding-bottom: 4rem;
  }

  .beyond-classroom-wrapper-top-paras {
    flex-direction: column;
  }

  .beyond-classroom-wrapper-top-paras-bottom {
    flex-direction: column;
  }

  .beyond-classroom-bottom-container1 {
    flex-direction: column;
  }
  .beyond-classroom-bottom-container2 {
    flex-direction: column-reverse;
  }

  .about-heal-para {
    flex-direction: column;
  }

  .about-heal-bottom-images {
    flex-direction: column;
  }
  .about-heal-bottom-images1 {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .about-heal-bottom-paras-last {
    flex-direction: column;
  }
  .about-kindness-wrapper-top {
    flex-direction: column;
  }
  .about-kindness-wrapper-bottom-img {
    flex-direction: column;
  }
  .beyond-classroom-wrapper-top-paras-images {
    flex-direction: column;
  }

  .about-kindness-top-right {
    margin-left: 10%;
  }
  .kindness-quote > p:first-child {
    width: 85%;
    font-size: 2.3rem;
    line-height: 135%;
  }
  .kindness-quote p {
    width: 85%;
    padding-bottom: 1rem;
  }
  .kindness-quote h5 {
    padding: 2rem 0;
  }
  .beyond-classroom-quote h5 {
    padding-bottom: 4rem;
  }
  .beyond-classroom-wrapper-bottom {
    margin-top: 5rem;
  }
  .beyond-bottom-right1 h4 {
    padding-bottom: 4rem;
  }

  .about-heal-para p {
    padding-bottom: 2rem;
  }
  .about-heal-bottom-paras-last p {
    padding-bottom: 2rem;
  }
  .about-last-section-wrapper > p:first-child {
    font-size: 2.5rem;
    line-height: 3.8rem;
    width: 95%;
  }
  .about-last-section-wrapper p {
    font-size: 1.9rem;
    line-height: 3.5rem;
    width: 95%;
  }
  .about-kindness-wrapper-bottom-paras h4 {
    padding-bottom: 12rem;
  }
  .about-kindness-wrapper-bottom {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .about-academy-life-hero {
    height: 45rem;
  }

  .true-education-photos {
    flex-direction: column;
  }
  .true-education-photos-left1 {
    margin-top: -40%;
    height: 36.4rem;
    margin-right: 1rem;
  }
  .true-education-photos-left2 {
    margin-top: -25%;
    height: 36.4rem;
  }

  .true-education-photos-right1 {
    margin-top: -40%;
    height: 36.4rem;
    margin-right: 1rem;
  }
  .true-education-photos-right2 {
    margin-top: -25%;
    height: 36.4rem;
  }

  .true-education-photos-left {
    margin-bottom: 50%;
  }
  .about-true-education h5 {
    padding-left: 5%;
  }
  .about-true-education h6 {
    padding-left: 5%;
    padding-bottom: 15rem;
  }
}

/* about Faculty css */

.faculty-staff {
  width: 100%;
  height: 100%;
}

.faculty-staff h1 {
  padding-top: 27rem;
  padding-bottom: 7.5rem;
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-left: 15%;
}

.faculty-hero {
  width: 100%;
  height: 34rem;
  margin-bottom: 11.2rem;
}

.faculty-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.faculty-members {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.faculty-members-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.faculty-members-container:last-child {
  margin-bottom: 10%;
}

.faculty-cards-left {
  flex: 1 1 45%;
  margin-right: 3rem;
  margin-bottom: 5.2rem;
  height: 100%;
}

.faculty-cards-right {
  flex: 1 1 45%;

  margin-bottom: 5.2rem;
  height: 100%;
}

.faculty-card-image {
  width: 100%;
  height: 100%;
}

.faculty-card-image-holder {
  width: 100%;
  height: 100%;
  height: 35.1rem;
}

.faculty-card-image-holder img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 100%;
  object-fit: cover;
}

/* .faculty-card-image >  */

.faculty-member-title {
  background: var(--bg-yellow);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name-position {
  margin-left: 2.9rem;
}

.name-position h2 {
  font-style: normal;
  padding-top: 1.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 157.9%;
  color: var(--primary-color);
}

.name-position h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.71rem;
  padding-bottom: 1.7rem;
}

.faculty-drop-down {
  margin-right: 3.1rem;
}

.faculty-drop-down a {
  cursor: pointer;
  text-decoration: none;

  transition: rotate 0.1s ease;
}
.faculty-members-description {
  width: 90%;
  margin: 0 auto;
  display: none;
}

.faculty-members-description p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 169.37%;
  color: #000000;
  padding-top: 2.8rem;
  padding-bottom: 2rem;
}

.faculty-members-email {
  display: flex;
  align-items: center;
}

.faculty-members-email a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 169.37%;
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faculty-members-email a img {
  margin-right: 1rem;
}

@keyframes dropDownUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
/* @keyframes facultyDescription {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
} */

.about-contact {
  width: 100%;
  background-color: #ffffff;
}

.about-contact-wrapper {
  width: 100%;
}

.about-contact-wrapper > h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 14.3rem;
  margin-left: 10%;
  padding-bottom: 8rem;
}

.about-contact-hero {
  width: 100%;
  height: 35rem;
}

.about-contact-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.about-contact-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.contact-page-left {
  flex: 1 1 50%;
  margin-left: 10%;
}

.contact-page-left h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 10.9rem;
  padding-bottom: 3.8rem;
}

.contact-page-left .input-wrapper {
  display: block;
  margin-bottom: 2.5rem;
}

.input-wrapper label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #172b4d;
  padding-bottom: 0.2rem;
}

.input-wrapper input {
  height: 6.3rem;
  display: block;
  width: 90%;
  background: #fafbfc;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 2.2rem 0.7rem 2.1rem 1.7rem;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #97a0af;
}

.input-wrapper textarea {
  height: 6.3rem;
  display: block;
  width: 90%;
  background: #fafbfc;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 2.2rem 0.7rem 2.1rem 1.7rem;
  outline: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #97a0af;
  resize: none;
}

.contact-page-left button {
  width: 15rem;
  height: 5.5rem;
  border: none;
  background: var(--bg-yellow);
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: #333333;
  margin-bottom: 10%;
}

.contact-page-right {
  flex: 1 1 50%;
  background: var(--bg-yellow);
}

.contact-page-right-wrapper {
  margin-left: 15%;
  margin-top: 18.8rem;
}

.contact-company-wrapper {
  padding-bottom: 4.4rem;
}

.contact-company-wrapper h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 103.9%;
  color: var(--bg-secondary);
  opacity: 0.5;
  padding-bottom: 1.1rem;
}

.contact-company-wrapper a,
.contact-company-wrapper p {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 1.1rem;
  text-decoration: none;
}

.contact-company-wrapper p {
  width: 50%;
}

.about-contact-map {
  width: 100%;
  height: 100%;
}
.about-contact-map img {
  width: 100%;
  height: auto;
}

/* mediaqueries */
@media screen and (max-width: 1296px) {
  .name-position h3 {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 1200px) {
  .about-contact-wrapper > h1 {
    font-size: 8rem;
  }
  .contact-page-left h1 {
    font-size: 4rem;
  }
  .faculty-staff h1 {
    font-size: 8rem;
  }

  .contact-company-wrapper p,
  .contact-company-wrapper a {
    font-size: 2.1rem;
    line-height: 101.9%;
    width: 85%;
  }

  .faculty-members-container {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .faculty-members-container {
    width: 95%;
  }
}

@media screen and (max-width: 950px) {
  .about-contact-wrapper > h1 {
    font-size: 6rem;
  }
  .contact-company-wrapper p,
  .contact-company-wrapper a {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .about-contact-container {
    flex-direction: column;
  }

  .contact-page-right-wrapper {
    margin-left: 10%;
    margin-top: 8.8rem;
    padding-bottom: 2rem;
  }
  .faculty-members-container {
    flex-direction: column;
  }
  .faculty-cards-left,
  .faculty-cards-right {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .about-contact-wrapper > h1 {
    font-size: 6rem;
  }

  .faculty-staff h1 {
    font-size: 8rem;
    padding-top: 5rem;
  }

  .contact-page-left h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-company-wrapper h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }
  .input-wrapper input {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  .input-wrapper textarea {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
