:root {
  --primary-color: #021032;
  --bg-yellow: #fdd247;
  --bg-secondary: #2e2e36;
}

/* blog archieve css  */

.blog-archieve {
  width: 100%;
  background: #ffffff;
}

.blog-archieve h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 15.8rem;
  margin-left: 10%;
  padding-bottom: 7.5rem;
}

.blog-archieve-hero {
  width: 100%;
  height: 34rem;
}

.blog-archieve-hero img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
}

.blog-posts {
  width: 100%;
}

.blog-post-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 8.6rem;
  margin-bottom: 12.3rem;
}

.blog-single-post-container {
  display: flex;
  width: 100%;
}

.single-blog-post {
  background: #ffffff;
  box-shadow: 0px 14px 27px rgba(173, 186, 217, 0.3);
  border-radius: 8px;
  flex: 1 1 50%;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.single-blog-filters {
  display: flex;
  padding-left: 4rem;
  margin-top: 4.4rem;
}

.single-blog-filters a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 158.88%;
  color: var(--bg-secondary);
  opacity: 0.64;
  margin-right: 1rem;
  text-decoration: none;
  margin-bottom: 1.6rem;
}

.single-blog-post a {
  text-decoration: none;
}

.single-blog-post a h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 129.88%;
  color: var(--primary-color);
  padding-left: 4rem;
  padding-bottom: 0.8rem;
}

.single-blog-post p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 158.88%;
  color: var(--primary-color);
  opacity: 0.8;
  padding-left: 4rem;
  width: 80%;
  padding-bottom: 7.7rem;
}

/* media queries */
@media only screen and (max-width: 1290px) {
  .single-blog-filters a {
    font-size: 1.2rem;
    line-height: 158.88%;
  }
  .single-blog-post p {
    font-size: 1.2rem;
    width: 90%;
  }
  .single-blog-post a h2 {
    font-size: 2.3rem;
    line-height: 125.88%;
  }
  .blog-post-container {
    width: 90%;
  }
  .blog-archieve h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 999px) {
  .blog-post-container {
    width: 95%;
  }
  .single-blog-post {
    margin-right: 1.5rem;
  }
  .single-blog-filters a {
    margin-right: 0.4rem;
  }
  .single-blog-filters a::after {
    content: "|";
  }
}

@media only screen and (max-width: 890px) {
  .blog-single-post-container {
    flex-wrap: wrap;
  }
  .single-blog-filters a::after {
    content: "";
  }
  .blog-archieve h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  .single-blog-post {
    margin-right: 0.2rem;
  }

  .single-blog-filters {
    padding-left: 2rem;
  }
  .single-blog-filters a {
    font-size: 1rem;
  }
  .single-blog-post a h2 {
    padding-left: 2rem;
  }
  .single-blog-post p {
    padding-left: 2rem;
    width: 95%;
  }
}

/* 2020 mission trip Css */
.twentytwenty-mission-trip {
  width: 100%;
  background: #ffffff;
}

.twentytwenty-mission-trips-info {
  margin-left: 10%;
  margin-bottom: 9.4rem;
}

.twentytwenty-mission-trips-info h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 15.8rem;

  padding-bottom: 1.6rem;
}

.twentytwenty-mission-trips-info a {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 103.9%;
  color: var(--primary-color);
  text-decoration: none;
}

.twentytwenty-mission-trips-info a::after {
  content: "|";
}

.twentytwenty-mission-trip-hero {
  width: 100%;
  height: 34rem;
}

.twentytwenty-mission-trip-hero img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
}

.twentytwenty-mission-trip-info {
  width: 80%;
  margin: 0 auto;
  padding-top: 9rem;
}

.twentytwenty-mission-trip-info > p:first-child {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.9rem;
  color: var(--primary-color);
  width: 75%;
}

.twentytwenty-mission-trip-info p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  padding-top: 3.5rem;
  width: 70%;
}
.twentytwenty-mission-trip-info p:last-child {
  padding-bottom: 7rem;
}

.twentytwenty-mission-trip-info h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 156.4%;
  color: var(--primary-color);
  padding-top: 2.9rem;
}

.twentytwenty-mission-trip-info h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.54rem;
  color: var(--primary-color);
  margin-bottom: 12.3rem;
}

.twentytwenty-blog-photo-gallery {
  width: 100%;
  background: #f3f6fc;
}

.twentytwenty-blog-photo-container {
  width: 80%;
  margin: 0 auto;
}

.twentytwenty-blog-photo-container h2 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2rem;
  line-height: 103.9%;
  color: #000000;
  padding-top: 17.2rem;
  padding-bottom: 6.3rem;
}

.twentytwenty-blog-photo-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.twentytwenty-blog-photo-container img:last-child {
  margin-bottom: 6rem;
}

.bolivia-photo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.bolivia-photo-wrapper > img {
  width: 100%;
  height: auto;
}
.carosel-wrapper-photos {
  position: absolute;
  top: 70%;
  display: flex;
  justify-content: center;
}

.carosel-wrapper-photos-btns {
  display: flex;
  align-items: center;
}

.carosel-wrapper-photos-btns img {
  width: 100%;
  height: auto;
}

.carosel-wrapper-photos-btns a {
  margin-right: 1rem;
}

.comments {
  width: 100%;
}

.comments-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 12rem;
}

.comments-number h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #c7cddb;
}

.commentedby {
  margin-top: 4.5rem;
  border-bottom: 1px solid #c7cddb;
}

.commentedby a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 103.9%;
  color: var(--primary-color);
  opacity: 0.6;
  text-decoration: none;
  margin-right: 1rem;
}

.commentedby p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 158.88%;
  color: var(--primary-color);
  padding-top: 2rem;
  padding-bottom: 4.4rem;
  width: 52%;
}

.submit-a-comment {
  width: 80%;
  margin: 0 auto;
}

.submit-a-comment textarea {
  background: #f3f6fc;
  border: 1px solid rgba(199, 205, 219, 0.5);
  box-sizing: border-box;
  width: 70%;
  outline: none;
  resize: none;
}

.submit-a-comment h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 156.4%;
  color: var(--primary-color);
  padding-top: 5.6rem;
}

.submit-a-comment p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--primary-color);
  padding-bottom: 4.1rem;
}

.submit-a-comment a {
  color: var(--primary-color);
}

.submit-a-comment button {
  background: rgba(253, 210, 71, 0.32);
  width: 18rem;
  height: 5.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: #b9b7a9;
  border: none;
  margin-top: 4.3rem;
}

.submit-a-comment button img {
  opacity: 0.32;
}

.submit-comment-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 17.5rem;
}

@media screen and (max-width: 1200px) {
  .twentytwenty-mission-trips-info h1 {
    font-size: 4rem;
  }
  .twentytwenty-mission-trip-info > p:first-child {
    font-size: 2rem;
    line-height: 2.9rem;

    width: 85%;
  }
  .twentytwenty-mission-trip-info p {
    font-size: 1.6rem;
    line-height: 2.3rem;

    width: 80%;
  }
  .commentedby p {
    font-size: 1.6rem;
    line-height: 158.88%;

    width: 65%;
  }

  .submit-a-comment textarea {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .twentytwenty-mission-trips-info h1 {
    font-size: 2.9rem;
  }

  .twentytwenty-mission-trips-info a {
    font-size: 1.2rem;
  }
  .twentytwenty-mission-trip-info > p:first-child {
    font-size: 1.8rem;
    line-height: 2.6rem;

    width: 85%;
  }
  .twentytwenty-mission-trip-info p {
    font-size: 1.6rem;
    line-height: 2.3rem;

    width: 80%;
  }

  .twentytwenty-blog-photo-container h2 {
    font-size: 5.2rem;
  }

  .comments-number h1 {
    font-size: 5.2rem;
  }
  .commentedby p {
    font-size: 1.6rem;
    line-height: 158.88%;
    width: 75%;
  }
  .submit-a-comment textarea {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .twentytwenty-mission-trips-info h1 {
    font-size: 2.5rem;
    padding-top: 5.8rem;

    padding-bottom: 2.5rem;
  }

  .twentytwenty-mission-trips-info {
    margin-left: 5%;
  }

  .twentytwenty-mission-trips-info a {
    font-size: 1rem;
  }

  .twentytwenty-blog-photo-container h2 {
    font-size: 3.5rem;
    padding-top: 10rem;
  }

  .comments-number h1 {
    font-size: 3.5rem;
  }

  .commentedby p {
    font-size: 1.4rem;
    line-height: 148.88%;
    width: 95%;
  }
  .submit-a-comment textarea {
    width: 100%;
  }
  .twentytwenty-mission-trip-info > p:first-child {
    width: 100%;
  }
  .twentytwenty-mission-trip-info p {
    width: 100%;
  }
  .commentedby a {
    font-size: 1.4rem;
  }

  .carosel-wrapper-photos {
    top: 60%;
  }
}

/* blog 2019 mission trip css */

.twentynineteen-mission-trip {
  width: 100%;
  background: #ffffff;
}

.twentynineteen-mission-trips-info {
  margin-left: 10%;
  margin-bottom: 9.4rem;
}

.twentynineteen-mission-trips-info h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 15.8rem;
  padding-bottom: 1.6rem;
}

.twentynineteen-mission-trips-info h3 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
}

.twentynineteen-mission-trip-hero {
  width: 100%;
  height: 34rem;
}

.twentynineteen-mission-trip-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.twentynineteen-mission-trip-para {
  background: var(--bg-yellow);
}
.twentynineteen-mission-trip-para p {
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: var(--primary-color);
  width: 70%;
  padding-left: 10%;
  padding-top: 9rem;
  padding-bottom: 10.4rem;
}

.twentynineteen-mission-trip-videos {
  width: 100%;
}

.mission-trip-vid-container {
  width: 80%;
  margin: 0 auto;
}

.mission-trip-vid-container h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2rem;
  line-height: 103.9%;
  color: #000000;
  padding-top: 15.9rem;
  padding-bottom: 3.4rem;
}

.mission-trip-vid-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 8rem;
  margin-bottom: 13rem;
}

.mission-trip-vid-container a {
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 103.9%;
  color: #333333;
  text-decoration: none;
}

.mission-trip-vid-container:last-child {
  margin-bottom: 20.4rem;
}

.trips-places {
  margin-top: 10rem;
  width: 95%;
  margin: 0 auto;
}

.trip-places-top {
  display: flex;
  margin-bottom: 3rem;
  align-items: flex-start;
  height: 31.3rem;
}
.trip-places-bottom {
  display: flex;
  align-items: flex-start;
  height: 31.3rem;
}

.trip-places-top1,
.trip-places-bottom1 {
  margin-right: 3rem;
}

.trip-places-top1 img,
.trip-places-top2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.trip-places-bottom1 img,
.trip-places-bottom2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.trip-places-top1,
.trip-places-top2,
.trip-places-bottom1,
.trip-places-bottom2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.trip-places-overlay-container {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(2, 16, 50, 0) 0%,
    rgba(2, 16, 50, 0.76) 100%
  );
  border-radius: 8px;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.trip-places-overlay-container h2 {
  font-family: " Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 103.9%;
  color: #ffffff;
  padding-left: 6rem;
  padding-top: 15%;
}

@media screen and (max-width: 1200px) {
  .twentynineteen-mission-trips-info h1 {
    font-size: 4rem;
    line-height: 103.9%;
    padding-top: 15.8rem;
    padding-bottom: 1.6rem;
  }

  .twentynineteen-mission-trips-info h3 {
    font-size: 2.4rem;
    line-height: 101.9%;
  }
  .twentynineteen-mission-trip-para p {
    font-size: 2.2rem;
    line-height: 3.4rem;

    width: 80%;
  }

  .mission-trip-vid-container h1 {
    font-size: 4rem;
    padding-top: 7.9rem;
    padding-bottom: 2.4rem;
  }
}

@media screen and (max-width: 886px) {
  .trip-places-top {
    flex-direction: column;
    margin-bottom: 3rem;
    height: 100%;
  }

  .trip-places-top1,
  .trip-places-bottom1 {
    margin-bottom: 3rem;
    height: 31.3rem;
  }

  .trip-places-top2,
  .trip-places-bottom2 {
    height: 31.3rem;
  }

  .trip-places-bottom {
    height: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .twentynineteen-mission-trips-info h1 {
    font-size: 2.9rem;
    line-height: 103.9%;
    padding-top: 5.8rem;
    padding-bottom: 1.6rem;
  }
  .twentynineteen-mission-trips-info h3 {
    font-size: 2.2rem;
    line-height: 101.9%;
  }
  .twentynineteen-mission-trip-para p {
    font-size: 2rem;
    line-height: 3.1rem;
    width: 90%;
  }
  .mission-trip-vid-container h1 {
    font-size: 3rem;
    padding-top: 5.9rem;
    padding-bottom: 2.4rem;
  }
  .trip-places-overlay-container h2 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 520px) {
  .mission-trip-vid-container a {
    font-size: 1.9rem;
  }
  .twentynineteen-mission-trip-para p {
    font-size: 1.8rem;
    line-height: 2.9rem;
    width: 95%;
  }
  .mission-trip-vid-container:last-child {
    margin-bottom: 10rem;
  }
  .trip-places-overlay-container h2 {
    font-size: 2.4rem;
    padding-left: 3rem;
    padding-top: 25%;
  }
  .mission-trip-vid-container {
    width: 95%;
  }
}

/* 2018 mission trip css */
.twentyeighteen-mission-trip {
  width: 100%;
  background: #ffffff;
}

.twentyeighteen-mission-trip h1 {
  font-family: "Kumbh Sans" fallback, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 15.8rem;
  padding-bottom: 1.6rem;
  padding-left: 10%;
  padding-bottom: 12.5rem;
}

/* arizona report */
.twentytwenty-blog-photo-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: #021032;
  color: var(--primary-color);
  padding-top: 3.1rem;
  padding-bottom: 23.5rem;
}

@media screen and (max-width: 520px) {
  .twentytwenty-blog-photo-container p {
    padding-bottom: 10rem;
    font-size: 1.6rem;
  }
  .twentytwenty-blog-photo-container {
    width: 90%;
  }
}
