.hero {
  width: 100%;

  padding-top: 12%;
}

.hero .hero-header {
  width: 100%;
  margin-bottom: 10rem;
}

.hero-header-image {
  height: 22rem;
}

.hero-header h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.8rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-left: 10%;
  padding-bottom: 10rem;
}

.hero-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media screen and (max-width: 1024px) {
  .hero-header h1 {
    font-size: 8rem;
  }
}

@media screen and (max-width: 520px) {
  .hero-header h1 {
    font-size: 7.4rem;
    padding-left: 5%;
  }
  .hero-header-image {
    height: 44rem;
  }
  .hero {
    width: 100%;
    height: 100%;
    margin-bottom: 12%;
  }
}

/* homepage About-us Section */

.home-about {
  width: 100%;
  padding-bottom: 10rem;
  background: #ffffff;
}

.home-about-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home-about h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-left: 10%;
}

.home-about p {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: var(--primary-color);
  width: 55%;
  padding-left: 10%;
}

.home-about .about-us-image {
  flex: 0 0 32.5%;
  height: 42.9rem;

  margin-top: 5rem;
  position: relative;
}

.about-us-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 24px 52px #c4c4c4);
  border-radius: 8px;
}

.about-us-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  height: auto;
  background: linear-gradient(180deg, rgba(42, 43, 44, 0) 0%, #2a2b2c 100%);
  opacity: 0.73;

  border-radius: 0px 0px 8px 8px;
}

.about-us-overlay-container {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-left: 3.7rem;
  margin-bottom: 3.6rem;
  position: relative;
}

.about-us-image-overlay .about-us-overlay-container h2 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 103.9%;
  color: #ffffff;
}

.about-us-image-overlay .about-us-overlay-container img {
  background: #ffffff;
  border-radius: 16.1304px;
  padding: 1.2rem 1.2rem;
  margin-right: 1rem;
}

/* media queries  */

@media screen and (max-width: 1024px) {
  .home-about h1 {
    font-size: 8rem;
  }
  .home-about p {
    width: 70%;
    line-height: 4rem;
  }
  .home-about-container {
    width: 90%;
  }
}

@media screen and (max-width: 864px) {
  .about-us-overlay-container {
    padding-left: 1rem;
    margin-left: 1.7rem;
    margin-bottom: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .home-about-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .home-about h1 {
    font-size: 5.4rem;
    padding-left: 5%;
  }
  .home-about p {
    width: 85%;
    line-height: 3.6rem;
    font-size: 2.3rem;
    padding-left: 5%;
  }
}

/* section home promo video */
.promo-video {
  width: 100%;
  height: 100%;
  padding-top: 35%;

  background-image: url(../images/homepage-video.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.promo-video .promo-vid-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: var(--bg-secondary);
  opacity: 0.62;
}

.promo-vid-overlay h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.1rem;
  line-height: 103.9%;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 4rem;
  z-index: 40;
}

.promo-vid-overlay p {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: #ffffff;
  opacity: 0.8;
  padding-left: 10%;
}

.promo-vid-overlay a img {
  padding-left: 10%;
  padding-top: 10%;
  width: 20%;
  height: auto;
}

/* media queries  */

@media screen and (max-width: 1024px) {
  .promo-vid-overlay h1 {
    font-size: 3.5rem;
    line-height: 100%;
    padding-top: 3rem;
  }
  .promo-vid-overlay p {
    font-size: 2.6rem;
    line-height: 3.7rem;
  }
}
@media screen and (max-width: 768px) {
  .promo-vid-overlay h1 {
    font-size: 3.1rem;
    line-height: 100%;
    padding-top: 1.6rem;
  }
  .promo-vid-overlay p {
    font-size: 2.3rem;
    line-height: 3.3rem;
  }
  .promo-vid-overlay a img {
    padding-top: 5%;
  }
}
@media screen and (max-width: 570px) {
  .promo-video {
    height: 30rem;
  }

  .promo-vid-overlay h1 {
    font-size: 2.3rem;
    padding-top: 1rem;
  }
  .promo-vid-overlay p {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .promo-vid-overlay a img {
    padding-top: 15%;
  }
}

/* misssion statement section */

.mission-statements {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.mission-statement-wrapper {
  width: 80%;
  height: 100%;
  display: flex;

  margin: auto;
}

.mission-statements h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.5rem;
  color: var(--bg-secondary);
  padding-bottom: 2.4rem;
  padding-left: 26%;
  padding-top: 10%;
}

.mission-statement-quote p {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.7rem;
  color: #2e2e36;
  width: 75%;
  padding-bottom: 3.5rem;
}
.mission-statement-icon {
  flex: 1 0 20%;
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
}

.mission-statement-icon img {
  /* width: 100%;
    height: auto; */
  margin-right: 4%;
}

.mission-statement-quote {
  display: flex;
  flex-direction: column;
  flex: 1 0 80%;
}

.mission-statement-quote a {
  font-family: "HK Grotesk", fallback sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: #000000;
  padding: 1.8rem 3rem;
  background: var(--bg-yellow);
  text-decoration: none;
  max-width: 15.3rem;
}

@media screen and (max-width: 970px) {
  .mission-statement-wrapper {
    flex-direction: column;
  }

  .mission-statement-icon img {
    max-width: 100%;
    height: 100%;
    margin-bottom: 2%;
  }

  .mission-statements h1 {
    padding-left: 10%;
    padding-top: 10%;
  }
  .mission-statement-quote p {
    font-size: 2.7rem;
    line-height: 4.1rem;
  }
}

@media screen and (max-width: 570px) {
  .mission-statement-quote p {
    font-size: 2.2rem;
    line-height: 3.6rem;
    width: 90%;
  }
}

/* carosel section  */
.homepage-corosel-section {
  width: 100%;
  background: #ffffff;
  padding-top: 15%;
}

.home-carosel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-carosel-wrapper img {
  max-width: 100%;
  flex-shrink: 1;
}
.home-carosel-wrapper img:nth-child(2) {
  margin: 0 1rem;
}

.home-carosel-item .slick-active img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

button#slick-slide-control00,
button#slick-slide-control01,
button#slick-slide-control02,
button#slick-slide-control03 {
  display: none;
}
/* upcoming events */

.home-upcoming-events {
  width: 100%;
  height: 100%;
  background: var(--bg-secondary);
  z-index: 10;
  margin-top: -15%;
}

.homepage-events-wrapper {
  width: 80%;
  margin: auto;
}

.homepage-events-wrapper > h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  color: #ffffff;
  padding-bottom: 7rem;
  padding-top: 35%;
}

.events-box-wrapper {
  display: flex;
  justify-content: space-between;
}

.events-box {
  width: 32.5%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
}

.home-events {
  display: flex;
  align-items: center;
}

.home-events .events-date > h2 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 103.9%;
  color: #000000;
}

.events-date {
  background: var(--bg-yellow);
  border-radius: 8px;
  padding: 1.4rem;
  margin-top: 2.7rem;
  margin-left: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-events .events-day h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 133.9%;
  color: var(--bg-secondary);
  margin-top: 2.7rem;
  padding-left: 2rem;
}

.home-events .events-day h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 133.9%;
  color: #808085;
  padding-left: 2rem;
}

.events-box .events-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 3.1rem;
  margin-left: 3.2rem;
  padding-top: 2rem;
}

.events-box .events-location h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 133.9%;
  color: #bcbcbc;
}

.events-location img {
  margin-right: 2%;
}

.upcoming-events-bottom {
  width: 100%;
  height: 100%;
}

.upcoming-event-bottom-container {
  position: relative;
  height: 45.5rem;
}

.upcoming-event-bottom-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.upcoming-events-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    #2e2e36 0%,
    rgba(46, 46, 54, 0.58) 146.64%
  );

  bottom: 0;
}

@media (max-width: 1000px) {
  .events-box-wrapper {
    flex-direction: column;
  }
  .events-box {
    margin-bottom: 2%;
    width: 80%;
  }

  .homepage-events-wrapper > h1 {
    font-size: 8rem;
  }
}

@media (max-width: 520px) {
  .events-box-wrapper {
    flex-direction: column;
  }
  .events-box {
    margin-bottom: 5%;
    width: 98%;
  }

  .homepage-events-wrapper > h1 {
    font-size: 4.3rem;
  }
}

/* homepage blog section */
.homepage-blog {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding-bottom: 10%;
}

.home-blog-wrappper {
  width: 80%;
  margin: auto;

  /* height: 100%; */
}

.home-blog-wrappper > h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-top: 17rem;
  padding-bottom: 2.8rem;
}

.home-blog-wrappper p {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: var(--primary-color);
  width: 60%;
  background: #ffffff;
  padding-bottom: 5rem;
}

.home-blog-wrappper .home-blog-stories {
  width: 100%;
  height: 100%;
  display: flex;
}

.home-blog-stories .blog-single > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.home-blog-stories h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--primary-color);
}

.home-blog-stories h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 129.88%;
  color: var(--primary-color);
  padding-bottom: 1.7rem;
}

.home-blog-wrappper .home-blog-stories a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 103.9%;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 8rem;
}

.blog-single:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 15%;
}

.blog-read-link a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: var(--bg-secondary);
  text-decoration: none;
  background: var(--bg-yellow);
  padding: 1.8rem 3rem;
}

@media (max-width: 1000px) {
  .home-blog-stories {
    flex-direction: column;
  }
  .home-blog-wrappper > h1 {
    font-size: 8rem;
  }
  .home-blog-wrappper p {
    font-size: 2.8rem;
    line-height: 4rem;
    width: 80%;
  }

  .blog-read-link {
    padding-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-blog-stories .blog-single > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 830px) {
  .blog-single:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 25%;
  }
  .home-blog-stories h1 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 520px) {
  .home-blog-wrappper > h1 {
    font-size: 7.3rem;
  }

  .blog-single:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 35%;
  }

  .home-blog-wrappper p {
    font-size: 2.3rem;
    line-height: 3.7rem;
    width: 95%;
  }

  .home-blog-stories h1 {
    font-size: 2.3rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 430px) {
  .home-blog-wrappper > h1 {
    font-size: 5.3rem;
    padding-top: 9rem;
  }
  .home-blog-wrappper p {
    font-size: 2.1rem;
    line-height: 3.5rem;
    width: 95%;
  }
  .home-blog-stories h3 {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  .home-blog-stories h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .blog-read-link {
    padding-top: 40%;
  }
}

/* follow on instagram */
.follow-instagram {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 10%;
}

.insta-posts-container {
  width: 100%;
  height: 100%;
}

.follow-instagram h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 103.9%;
  color: var(--primary-color);
  padding-bottom: 5rem;
  padding-left: 10%;
}

.follow-instagram .insta-posts-container-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.follow-instagram .insta-posts-container-bottom img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.insta-posts-container-top {
  display: flex;
}

.insta-posts-container-bottom {
  display: flex;
}

.load-more-insta {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  padding-bottom: 10rem;
}

.follow-instagram .load-more-insta .load-more-btn a {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 103.9%;
  color: var(--bg-secondary);
  text-decoration: none;
  background: var(--bg-yellow);
  padding: 1.8rem 3rem;
  margin-top: 7rem;
}

@media screen and (max-width: 768px) {
  .follow-instagram h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 520px) {
  .follow-instagram h1 {
    font-size: 3rem;
  }
}

/* give-apply-section */
.give-apply-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.give-apply-section h1 {
  font-family: "KumbhSans", fallback sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 103.9%;
  color: #ffffff;
  padding-bottom: 1.1rem;
}

.give-apply-section p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 26px;
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: #ffffff;
  width: 50%;
}

.give-apply-section a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 103.9%;
  color: var(--bg-yellow);
  text-decoration: none;
}

.home-give-section {
  flex: 1 0 50%;
  height: 46.4rem;
  position: relative;
}

.home-give-overlay {
  position: absolute;
  background: var(--bg-secondary);
  opacity: 0.8;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}

.home-give-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-apply-section {
  flex: 1 0 50%;
  height: 46.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--bg-secondary);
}

.home-apply-section-wrapper {
  padding-left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* media query give and apply section */
@media (max-width: 1010px) {
  .give-apply-section {
    flex-direction: column;
  }

  .home-give-overlay {
    padding-left: 10%;
  }
  .give-apply-section p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .give-apply-section p {
    width: 80%;
    padding-bottom: 2rem;
  }
}

@media (max-width: 520px) {
  .give-apply-section p {
    width: 80%;
    padding-bottom: 2rem;
  }

  .home-give-overlay {
    padding-top: 5%;
  }
}
